/*
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&pinctrl {
    spi0_default_alt: spi0_default_alt {
        group1 {
            psels = <NRF_PSEL(SPIM_MOSI,1,13)>,
                    <NRF_PSEL(SPIM_SCK, 1,15)>;
        };
        group2 {
            psels = <NRF_PSEL(SPIM_MISO,1,14)>;
            bias-pull-down;
        };
        
    };
    spi0_sleep_alt: spi0_sleep_alt {
        group1 {
            psels = <NRF_PSEL(SPIM_MOSI,1,13)>,
                    <NRF_PSEL(SPIM_SCK, 1,15)>,
                    <NRF_PSEL(SPIM_MISO,1,14)>;
            low-power-enable;
        };
    };
};

&spi0 {
    compatible = "nordic,nrf-spim";
    status = "okay";
    clock-frequency = <16000000>;
    cs-gpios = <&gpio1 12 GPIO_ACTIVE_LOW>;
    pinctrl-0 = <&spi0_default_alt>;
    pinctrl-1 = <&spi0_sleep_alt>;
    pinctrl-names = "default", "sleep";

    st7789v_alt_nrf52840: st7789v@0 {
        compatible = "sitronix,st7789v";
        spi-max-frequency = <20000000>;
        reg = <0>;
        cmd-data-gpios = <&gpio1 11 GPIO_ACTIVE_LOW>;
        reset-gpios    = <&gpio1 10 GPIO_ACTIVE_LOW>;
        width  = <320>;
        height = <170>;
        x-offset = <0>;
        y-offset = <35>;
        vcom = <0x2B>;
        gctrl = <0x35>;
        vrhs = <0x0F>;
        vdvs = <0x20>;
        mdac = <0x60>;
        gamma = <0x01>;
        colmod = <0x55>;
        lcm = <0x2C>;
        porch-param = [0C 0C 00 33 33];
        cmd2en-param = [5A 69 02 01];
        pwctrl1-param = [52 A1];
        pvgam-param = [D0 00 02 07 0B 1A 31 54 40 29 12 12 12 17];
        nvgam-param = [D0 00 02 07 05 15 2D 44 44 1C 18 16 1C 1D];
        ram-param = [00 F8];
        rgb-param = [CD 08 14];
    };
};

&gpio1 {
    status = "okay";
};

/ {
    backlight {
        compatible = "gpio-leds";
        backlight0: backlight_0 {
            gpios = <&gpio0 4 GPIO_ACTIVE_HIGH>;
            label = "BACKLIGHT";
        };
    };

    aliases {
        backlight = &backlight0;
    };    
};
