# Copyright (c) 2024  Callender-Consulting LLC 
# SPDX-License-Identifier: Apache-2.0

config SHIELD_ST7789V_ALT_NRF52840
	def_bool $(shields_list_contains,st7789v_alt_nrf52840)

config SHIELD_ST7789V_ALT_PICO_W
	def_bool $(shields_list_contains,st7789v_alt_pico_w)
