# Copyright (c) 2024  Callender-Consulting LLC
# SPDX-License-Identifier: Apache-2.0

if SHIELD_ST7789V_ALTERNATE

if DISPLAY

choice ST7789V_PIXEL_FORMAT
	default ST7789V_RGB888 if SHIELD_ST7789V_ALTERNATE
endchoice

if LVGL

config LV_Z_BITS_PER_PIXEL
	default 24 if SHIELD_ST7789V_ALTERNATE

endif # LVGL

endif # DISPLAY

endif # SHIELD_ST7789V_ALTERNATE
